<h1>My tasks</h1

<% @tasks.each do |task| %>
  <h2><%= task.title %></h2>
<% end %>

<%> if task.completed = <%= <i class="far fa-check-square"></i>%<
    @tasks = true
    else task.completed = nil
      @tasks = false
   </%>
